.campaigns_workspace{
    display: flex;
    margin: 5%;
}

div.campaign-card{
    text-align: center;
    width: 70%;
}

div.card-title.h5{
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.redirect-button{
    width: 25%;
    margin-left: 38%;
}