button.submit-campaign{
    margin-top: 2%;
}
div.campaign-form-workspace{
    margin: 1%;
    background-color: whitesmoke;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    height: 650px;
    border-radius: 10%;
}

input{
    margin:1%
}

form.campaign-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.campaign-form label{
    margin-top: 3%;
}

div.title-warning, div.description-warning, div.target-warning, div.currency-warning{
    display: none;
    color: red;
}