footer{
    background-color:  #212529;
    color: white
}

#footer{
    display:flex;
}

div.col1, div.col2, div.col3{
    font-size:xx-large ;
    width: 30%;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
}

#email{
    font-size: medium;
}

div.col1 >p>a{
    font-size: medium;
    text-decoration: none;
    color: white;
}

div.col1 >p>a:hover{
  opacity: 0.5;
}

.fa {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 30%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }

  .whatsapp {
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
}
div.col2 > i {
  float: left
}

div.col2 > a#address{
  font-size: medium;
  text-decoration: none;
  color: white;
}

i > a{
  text-decoration: none;
  color: white;
}