div.opinion-form-workspace{
    margin: 1%;
    background-color: whitesmoke;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    height: 200px;
    border-radius: 10%;
}

input{
    margin:1%
}

form.opinion-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.opinion-form label{
    margin-top: 5%;
}