div.index_page{
    display: flex;
    justify-content: center;
}

h1.title{
    font-weight: 500;
    background-color: whitesmoke;
    border:solid 5px;
    margin-top: 1%;
    padding: 1%;
    border-radius: 20%;
}

div.workspace_descriptive {
    background-color: whitesmoke;
    font-size: xx-large;
    border: solid ;
    height: 500px;
    margin-bottom: 10%;
}

.descriptive_div{
    margin-top: 5%;
    display: flex;
    justify-content: right;
    text-align: center;
}


.workspace_descriptive{
    background-image: url('../images/unknown.png');
    background-size: cover;
    opacity: 0.99;
}

.workspace_descriptive:hover{
    width: 60%;
    height: 600px;
    box-shadow: 10px 10px 100px orange;
    margin-bottom:2.3%;
}

.learn-more{
position: relative;
}


.influence_campaign_workspace{
    display: flex;
    justify-content: flex-start;


}

.influence_doante_workspace{
    display: flex;
    justify-content: flex-end;

}

.influence_campaign, .influence_donate{
    border: solid;
    font-size: xx-large;
    padding: 1%;
    background-color: whitesmoke;
    margin-bottom: 10%;
    width: 60%;
    text-align: center;
    border-radius: 30%;
}


.influence_campaign:hover , .influence_donate:hover{
    box-shadow: 10px 10px 50px gray;
    margin-bottom: 0.8%;
    
}

.btn-redirect{
padding: 2%;
display: none;
width: 50%;
margin-left: 25%;
}

.btn-redirect:hover{
    box-shadow: 10px 10px 25px gray;
}

.hide{
    display: none;
}

.influence_donate:hover .hide{
    display: block;
}


.influence_donate:hover .btn-redirect{
    display: block;
}


.influence_campaign:hover .hide {
    display: block;
}

.influence_campaign:hover .btn-redirect{
    display: block;
}